<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Фильмы</title>
</head>
<body>
  <h1>Фильмы в прокате</h1>
  <hr>
  <ul>
    <li th:each="film : ${films}">
      Название фильма: <span th:text="${film.name}"></span><br>
      Продюсер: <span th:text="${film.producer}"></span><br>
      Даты выхода: <span th:text="${film.date}"></span><br>
      <a th:href="@{/film/{id}(id=${film.id})}">Подробнее</a>
      <br><br>
    </li>
  </ul>
</body>
</html>